.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Overlay color */ 
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.3s ease-in forwards;
}
@keyframes fadein{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 30px 58px 20px 58px;
  width: 57%;
  box-shadow: 0px 20px 40px #01243366;
  max-height: 90%;
  overflow-y: auto;
}

.close-hover-flex {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.hidden-close {
  visibility: hidden;
  font: normal normal normal 8px/16px Roboto;
  letter-spacing: 0.64px;
  color: black;
  opacity: 1;
  margin: 0px;
}

.show-close {
  visibility: visible;
  text-align: right;
  font: normal normal normal 8px/16px Roboto;
  letter-spacing: 0.64px;
  color: #718FA2;
  opacity: 1;
  margin: 0px;
}

.close {
  color: #718FA2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2px;
  margin-top: 2px;
  border: none;
  background-color: white;
}

.close-icon {
  margin-right: 8px;
}


.close:hover, .close:focus {
  color: black;
  cursor: pointer;
  .hidden-close {
    visibility: visible;
  }
  .show-close {
    visibility: hidden;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-title {
  font: normal normal 300 32px/38px Roboto;
  letter-spacing: 0px;
  color: #164E78;
  opacity: 1;
  margin: 0px;
}

.header-blue-border {
  width: 52px;
  border: 2px solid #21B3CF;
  opacity: 1;
  margin-top: 16px;
}

.movie-columns {
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #78849EB9;
  opacity: 1;
  margin-top: 17px;
}
.movie-info {
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0px;
  color: #78849E;
  opacity: 1;
  margin-top: 4px;
  text-align: justify;
}
.movie-info-blue {
  text-align: left;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0px;
  color: #00BAFF;
  opacity: 1;
  margin-top: 4px;
}

.flex {
  display: flex;
  gap: 48px;
}

.loading-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}