.container {
  margin: 0 auto;
  margin-left: 214px;
  margin-right: 214px;
  padding: 0px 10px;
}

@media only screen and (max-width: 480px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.title {
  margin-top: 24px;
  text-align: left;
  font: normal normal normal 24px Roboto;
  letter-spacing: 0px;
  color: #386071;
  opacity: 1;
  font-size: 24px;
}

// MOVIE TABLE
table {
  width: 100%;
  display: block;
  overflow-x: scroll;
  border-collapse: collapse;
  white-space: nowrap;
}

// without this, table would not have 100% width
@media only screen and (min-width: 768px) {
  table {
    display: table;
  }
}

th {
  border-bottom: 1px solid #0B749B99;
}
td {
  border-bottom: 1px solid #9AAEBB66;
}

.header-row {
  text-align: left;
  font: normal normal bold 10px/20px Roboto;
  letter-spacing: 0px;
  color: #0B749B;
  opacity: 1;
  text-transform: uppercase;
}

.movie-row {
  text-align: left;
  font: normal normal normal 16px/20px Roboto;
  letter-spacing: 0px;
  color: #536B7A;
  opacity: 1;
  height: 48px;
}

.movie-row:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.ranking-column {
  width: 10%;
  min-width: 50px;
  text-align: center;
}

.title-column {
  width: 50%;
  min-width: 325px;
}

.year-column {
  width: 15%;
  min-width: 80px;
}

.revenue-column {
  width: 20%;
  min-width: 120px;
}

.eye-column {
  width: 5%;
  color: #9AAEBB;
  min-width: 50px;
}

.loading-container {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}