<section class="filter-section">
  <!-- TOP 10 REVENUE -->
  <button title="Top 10 Revenue Filter" class="filter-button" [class.active-filter]="active_filter === 'top'" (click)="clicked_top_10_revenue()">
    Top 10 Revenue
  </button>

  <!-- TOP 10 REVENUE BY YEAR -->
  <div class="top-by-year-flex">
    <button title="Top 10 Revenue per Year Filter" class="filter-button" [class.active-filter]="active_filter === 'top_year'" (click)="clicked_top_revenue_by_year()">
      Top 10 Revenue {{ filter_year !== null ? filter_year : "per Year" }}
    </button>

    <!-- RESET TOP 10 REVENUE PER YEAR FILTER BTN -->
    <button 
      *ngIf="active_filter === 'top_year' && filter_year !== null"
      (click)="reset_top_by_year()"
      class="reset-icon"
      title="Reset Top 10 Revenue per Year Filter"
    >
      <fa-icon [icon]="faReset"></fa-icon>
    </button>
  </div>

  <div class="modal" [class.show]="filter_year_visible" (click)="onOverlayClick($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <p class="modal-title">Select a year</p>

      <!-- LOADING SVG -->
      <div *ngIf="loading" class="loading-container">
        <img alt="Loading SVG" src="assets/svg/loading.svg">
      </div>

      <!--  YEAR LIST -->
      <div *ngIf="!loading">
        <p *ngFor="let year of year_list" (click)="clicked_year(year)" class="year">
          {{ year }}
        </p>
      </div>
    </div>
  </div>
</section>